.table {
  width: 80%;
  margin: auto;
}
.heading:hover {
  background-color: blueviolet;
  cursor: pointer;
  height: 40px;
  padding-top: 10px;
  color: white;
}
.drop-down {
  width: 100%;
  padding: 10px;
}
thead {
  background-color: #c0c0c0;
}
.title-width {
  width: 20%;
}
